.App{
  width: fit-content;
  height: fit-content;
  min-height: 100vh;
  min-width: 100vw;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #554439;
}

@font-face {
  font-family: 'LMRoman-Regular';
  src: url('assets/fonts/lmroman10-regular.otf');
}